{% set article_show = path('article_show', {'slug': article.slug }) %}

<article>
    <div class="item-article">
        {% if article.featuredImage %}
            <a class="item-article-featuredimg" href="{{ article_show }}">
                <img src="/uploads/{{ article.featuredImage.filename }}" alt="{{ article.featuredImage.altText }}" loading="lazy" width="350" height="205">
            </a>
        {% endif %}
        <div class="item-article-informations">    
            <p class="item-article-createdat">
                {{ article.createdAt|date('d M Y') }}
            </p>
            <h3 class="item-article-title">
                <a href="{{ article_show }}">{{ article.title }}</a>
            </h3>
            <div class="item-article-description">
                <p>{{ article.featuredText ?: article.content|striptags|slice(0, 130) ~ '...' }}</p>
                <a class="item-article-lien" href="{{ article_show }}">En savoir plus</a>
            </div>
            
        </div>
    </div>
</article>